.home {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 5622px;
  position: relative;
}

.home .rectangle {
  position: absolute;
  top: 5270px;
  left: 0;
  width: 1440px;
  height: 370px;
  background-color: #d9d9d9;
}

.home .text-wrapper {
  position: absolute;
  top: 5336px;
  left: 777px;
  width: 198px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .ellipse {
  position: absolute;
  top: 5415px;
  left: 1261px;
  width: 45px;
  height: 45px;
  background-color: #afafaf;
  border-radius: 22.5px;
}

.home .div {
  position: absolute;
  top: 5415px;
  left: 1175px;
  width: 45px;
  height: 45px;
  background-color: #afafaf;
  border-radius: 22.5px;
}

.home .ellipse-2 {
  position: absolute;
  top: 5415px;
  left: 1089px;
  width: 45px;
  height: 45px;
  background-color: #afafaf;
  border-radius: 22.5px;
}

.home .p {
  top: 5336px;
  left: 452px;
  width: 198px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-2 {
  position: absolute;
  top: 35px;
  left: 1239px;
  width: 161px;
  height: 64px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.home .ellipse-3 {
  position: absolute;
  top: 22px;
  left: 53px;
  width: 90px;
  height: 90px;
  background-color: #d9d9d9;
  border-radius: 45px;
}

.home .rectangle-3 {
  position: absolute;
  top: 47px;
  left: 374px;
  width: 133px;
  height: 43px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.home .rectangle-4 {
  position: absolute;
  top: 47px;
  left: 893px;
  width: 133px;
  height: 43px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.home .rectangle-5 {
  position: absolute;
  top: 47px;
  left: 547px;
  width: 133px;
  height: 43px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.home .rectangle-6 {
  position: absolute;
  top: 47px;
  left: 720px;
  width: 133px;
  height: 43px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.home .rectangle-7 {
  position: absolute;
  top: 136px;
  left: 0;
  width: 1440px;
  height: 700px;
  background-color: #d9d9d9;
}

.home .rectangle-8 {
  position: absolute;
  top: 1654px;
  left: 218px;
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.home .rectangle-9 {
  position: absolute;
  top: 918px;
  left: 278px;
  width: 80px;
  height: 80px;
  background-color: #d9d9d9;
}

.home .rectangle-10 {
  position: absolute;
  top: 918px;
  left: 1082px;
  width: 80px;
  height: 80px;
  background-color: #d9d9d9;
}

.home .rectangle-11 {
  position: absolute;
  top: 918px;
  left: 680px;
  width: 80px;
  height: 80px;
  background-color: #d9d9d9;
}

.home .text-wrapper-2 {
  top: 1051px;
  left: 163px;
  width: 310px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-3 {
  top: 1051px;
  left: 565px;
  width: 310px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-4 {
  top: 1701px;
  left: 702px;
  width: 460px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-5 {
  top: 1051px;
  left: 967px;
  width: 310px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .line {
  top: 135px;
  left: 0;
  width: 1434px;
  height: 701px;
  position: absolute;
  object-fit: cover;
}

.home .text-wrapper-6 {
  position: absolute;
  top: 440px;
  left: 68px;
  width: 439px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-12 {
  position: absolute;
  top: 1956px;
  left: 143px;
  width: 350px;
  height: 400px;
  background-color: #d9d9d9;
}

.home .rectangle-13 {
  position: absolute;
  top: 1956px;
  left: 545px;
  width: 350px;
  height: 400px;
  background-color: #d9d9d9;
}

.home .rectangle-14 {
  position: absolute;
  top: 1956px;
  left: 947px;
  width: 350px;
  height: 400px;
  background-color: #d9d9d9;
}

.home .rectangle-15 {
  position: absolute;
  top: 2724px;
  left: 1022px;
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.home .text-wrapper-7 {
  top: 2752px;
  left: 318px;
  width: 460px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-16 {
  position: absolute;
  top: 3026px;
  left: 137px;
  width: 350px;
  height: 400px;
  background-color: #d9d9d9;
}

.home .rectangle-17 {
  position: absolute;
  top: 3026px;
  left: 539px;
  width: 350px;
  height: 400px;
  background-color: #d9d9d9;
}

.home .rectangle-18 {
  position: absolute;
  top: 3026px;
  left: 941px;
  width: 350px;
  height: 400px;
  background-color: #d9d9d9;
}

.home .img {
  top: 3025px;
  left: 143px;
  width: 345px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-2 {
  top: 3025px;
  left: 545px;
  width: 345px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-3 {
  top: 1955px;
  left: 551px;
  width: 345px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-4 {
  top: 1955px;
  left: 953px;
  width: 345px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-5 {
  top: 1955px;
  left: 149px;
  width: 345px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-6 {
  top: 3025px;
  left: 941px;
  width: 345px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-7 {
  top: 3026px;
  left: 137px;
  width: 351px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-8 {
  top: 3026px;
  left: 539px;
  width: 351px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-9 {
  top: 3026px;
  left: 941px;
  width: 351px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-10 {
  top: 1956px;
  left: 947px;
  width: 351px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-11 {
  top: 1956px;
  left: 545px;
  width: 351px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .line-12 {
  top: 1956px;
  left: 143px;
  width: 351px;
  height: 401px;
  position: absolute;
  object-fit: cover;
}

.home .text-wrapper-8 {
  top: 3813px;
  left: 481px;
  width: 472px;
  font-size: 36px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-19 {
  position: absolute;
  top: 3978px;
  left: 137px;
  width: 350px;
  height: 250px;
  background-color: #d9d9d9;
}

.home .rectangle-20 {
  position: absolute;
  top: 3978px;
  left: 542px;
  width: 350px;
  height: 250px;
  background-color: #d9d9d9;
}

.home .rectangle-21 {
  position: absolute;
  top: 3978px;
  left: 947px;
  width: 350px;
  height: 250px;
  background-color: #d9d9d9;
}

.home .text-wrapper-9 {
  top: 4046px;
  left: 177px;
  width: 281px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-10 {
  top: 4046px;
  left: 580px;
  width: 281px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .lorem-ipsum-lorem {
  top: 4046px;
  left: 985px;
  width: 281px;
  font-size: 16px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-11 {
  left: 149px;
  position: absolute;
  top: 3920px;
  width: 55px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-12 {
  left: 552px;
  position: absolute;
  top: 3920px;
  width: 55px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-13 {
  left: 957px;
  position: absolute;
  top: 3920px;
  width: 55px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.home .lorem-ipsum-lorem-2 {
  position: absolute;
  top: 4732px;
  left: 137px;
  width: 490px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-22 {
  position: absolute;
  top: 4552px;
  left: 764px;
  width: 520px;
  height: 475px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.home .line-13 {
  top: 4551px;
  left: 764px;
  width: 512px;
  height: 476px;
  position: absolute;
  object-fit: cover;
}

.home .line-14 {
  top: 4551px;
  left: 763px;
  width: 512px;
  height: 476px;
  position: absolute;
  object-fit: cover;
}

.home .rectangle-23 {
  position: absolute;
  top: 4927px;
  left: 916px;
  width: 208px;
  height: 71px;
  background-color: #ededed;
  border-radius: 20px;
}

.home .frame {
  position: absolute;
  top: 917px;
  left: 254px;
  width: 100px;
  height: 100px;
}

