<div id="container">
  <h2>Datos biométricos</h2>
  <section id="form-section">
    <form [formGroup]="bioForm" (ngSubmit)="saveData()" >

      @if (bioData==0){

        @if(gender?.invalid && (gender?.dirty || gender?.touched)){
          @if (gender?.hasError('required')) {
            <div id="error">El género es obligatorio.</div>
          }
        }
        <input formControlName="gender" name="genre" type="text" placeholder="Genero" required autofocus>

        @if (age?.invalid && (age?.dirty || age?.touched)){
          @if (age?.hasError('required')) {
            <div id="error">La edad es obligatoria.</div>
          }
          @if (age?.hasError('min')) {
            <div id="error">Tienes que ser mayor de 14.</div>
          }
          @if (age?.hasError('max')) {
            <div id="error">La edad no puede ser mayor a 99.</div>
          }
        }
        <input formControlName="age" name="age" min="14" max="99" type="number" placeholder="Edad" required>

        @if (height!.invalid && (height!.dirty || height!.touched)){
          @if (height!.hasError('required')) {
            <div id="error">La altura es obligatoria.</div>
          }
          @if (height!.hasError('min')) {
            <div id="error">Tienes que medir mas que 120cm.</div>
          }
          @if (height!.hasError('max')) {
            <div id="error">Tienes que medir menos que 220cm.</div>
          }
        }
        <input formControlName="height" name="height" min="120" max="220" type="number" placeholder="Altura (cm)" required>

        <input type="button" value="Siguiente" [disabled]="!(gender?.valid && age?.valid && height?.valid)" (click)="next()">
      }

      @if (bioData==1){
        <h3>¿Cual es tu objetivo?</h3>

        <div class="radiowrapper">
          <input id="dec" type="radio" name="goal" value="dec" formControlName="goal" required>
          <label id="decT" for="dec">Bajar de peso</label>
        </div>

        <div class="radiowrapper">
          <input id="inc" type="radio" name="goal" value="inc" formControlName="goal" required>
          <label id="incT" for="inc">Subir de peso</label>
        </div>

        <div class="radiowrapper">
          <input id="mnt" type="radio" name="goal" value="mnt" formControlName="goal" required>
          <label id="mntT" for="mnt">Mantenerme</label>
        </div>

        <div class="radiowrapper">
          <input id="muscle" type="radio" name="goal" value="muscle" formControlName="goal" required >
          <label id="muscleT" for="muscle">Crecer músculo</label>
        </div>

        <div id="button-row">
          <input type="button" value="Atrás" (click)="back()">
          <input type="button" value="Siguiente" [disabled]="!(goal?.valid)" (click)="next()">
        </div>
      }

      @if (bioData==2){
        <h3>¿Cuanta actividad haces?</h3>

        <div class="radiowrapper">
          <input id="nev" type="radio" name="act" value="nev" required formControlName="act">
          <label id="nevT" for="nev" class="form">Nada</label>
        </div>

        <div class="radiowrapper">
          <input id="small" type="radio" name="act" value="small" required formControlName="act">
          <label id="smallT" for="small" class="form">Poca</label>
        </div>

        <div class="radiowrapper">
          <input id="mod" type="radio" name="act" value="mod" required formControlName="act">
          <label id="modT" for="mod" class="form">Moderada</label>
        </div>

        <div class="radiowrapper">
          <input id="daily" type="radio" name="act" value="daily" required formControlName="act">
          <label id="dailyT" for="daily" class="form">Diariamente</label>
        </div>

        <div id="button-row">
          <input type="button" value="Atrás" (click)="back()">
          <input type="button" value="Siguiente" [disabled]="act?.invalid" (click)="next()">
        </div>
      }

      @if (bioData==3){
        @if (cKg?.invalid && (cKg?.dirty || cKg?.touched)){
          @if (cKg?.hasError('required')) {
            <div id="error">El peso actual es obligatorio.</div>
          }
        }
        <input name="cKg" type="number" placeholder="Peso actual Kg" required autofocus formControlName="cKg">

        @if (dKg?.invalid && (dKg?.dirty || dKg?.touched)){
          @if (dKg?.hasError('required')) {
            <div id="error">El peso deseado es obligatorio.</div>
          }
        }
        <input name="dKg" type="number" placeholder="Peso deseado Kg" required formControlName="dKg">

        @if (nWeeks?.invalid && (nWeeks?.dirty || nWeeks?.touched)){
          @if (nWeeks?.hasError('required')) {
            <div id="error">Las semanas son obligatorias.</div>
          }
          @if (nWeeks?.hasError('min')) {
            <div id="error">No pueden ser 0 semanas!</div>
          }
        }
        <input name="nWeeks" type="number" min="1" placeholder="Nº semanas" required formControlName="nWeeks">

        <div id="button-row">
          <input type="button" value="Atrás" (click)="back()">
          <input type="submit" value="Terminado!" [disabled]="!(cKg?.valid && dKg?.valid && nWeeks?.valid)">
        </div>
      }

    </form>

  </section>

</div>
