<div id="dashboard-deporte">
  <p class="text64" id="name">{{ userName }}</p>
  <div class="rectangle-toggle">
    <div class="ellipse-toggle" (click)="goToDieta()" style="cursor: pointer;"></div>
  </div>
  <div class="rectangle-container">
    <p class="text24" id="move-text">{{ moveText }}</p>
    <p class="text24" id="move-calories">{{ moveCalories }}</p>
    <p class="text24" id="exercise-text">{{ exerciseText }}</p>
    <p class="text24" id="exercise-calories">{{ exerciseCalories }}</p>
    <p class="text24" id="stand-text">{{ standText }}</p>
    <p class="text24" id="stand-calories">{{ standCalories }}</p>

    <div class="bars-container-wrapper" *ngIf="weekData.length">
      <div *ngFor="let day of weekData; let i = index"
           class="bar-container"
           [style.left.%]="(i * (100 / weekData.length)) + (50 / weekData.length)">
        <div class="bar-unit" [style.height.rem]="day.valor * 0.12"></div>
        <p class="text16">{{ day.dia }}</p>
      </div>
    </div>
  </div>
  <div class="cross-horizontal" id="r7" (click)="goToDeporte()" style="cursor: pointer;" ></div>
  <div class="cross-vertical" id="r8" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <p class="text20" id="train-text1">{{ trainText1 }}</p>
  <div class="cross-horizontal" id="r9" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <div class="cross-vertical" id="r10" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <p class="text20" id="train-text2">{{ trainText2 }}</p>
  <div class="cross-horizontal" id="r11" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <div class="cross-vertical" id="r12" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <p class="text20" id="train-text3">{{ trainText3 }}</p>
  <div class="cross-horizontal" id="r13" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <div class="cross-vertical" id="r14" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <p class="text20" id="train-text4">{{ trainText4 }}</p>
  <div class="cross-horizontal" id="r15" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <div class="cross-vertical" id="r16" (click)="goToDeporte()" style="cursor: pointer;"></div>
  <p class="text20" id="train-text5">{{ trainText5 }}</p>
  <p class="text16" id="train-amount1">{{ trainAmount1 }}</p>
  <p class="text16" id="train-amount2">{{ trainAmount2 }}</p>
  <p class="text16" id="train-amount3">{{ trainAmount3 }}</p>
  <p class="text16" id="train-amount4">{{ trainAmount4 }}</p>
  <p class="text16" id="train-amount5">{{ trainAmount5 }}</p>
</div>
