<div id="dashboard-deporte" *ngIf="data.json">
  <p class="text64" id="name">{{ data.usuario.nombre }}</p>

  <div class="rectangle-toggle">
    <a class="ellipse-toggle" routerLink="/dieta"></a>
  </div>

  <div class="rectangle-container">
    <p class="text24" id="move-text">Moverse</p>
    <p class="text24" id="move-calories">{{ data.deporte.resumen.moverse }} kcal</p>

    <div class="bars-container-wrapper" style="display: flex; align-items: flex-end; gap: 4.3rem; height: 18.5rem;">
      <div *ngFor="let day of data.deporte.semana" class="bar-unit"
           [style.height.rem]="day.valor * 0.12"
           style="width: 2.4rem; background-color: var(--color-acento-secundario); border-radius: 1rem;">
        <p class="text16" style="margin-top: 1rem;">{{ day.dia }}</p>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let ejercicio of data.deporte.ejercicios; let i = index">
    <p class="text20" [id]="'train-text' + (i+1)">{{ ejercicio.nombre }}</p>
    <p class="text16" [id]="'train-amount' + (i+1)">{{ ejercicio.valor }}</p>
  </ng-container>
</div>
