.header *, .header *::before, .header *::after {
    box-sizing: border-box;
}

.header {
    background-color: #ffffff;
    border-bottom: 2px solid #10B981;
    padding: 0 2rem;
    font-family: 'Inter', system-ui, sans-serif;
}

.navigation {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 0.5rem;
}

.nav-button {
    text-decoration: none;
    color: #1F2937;
    background-color: #F3F4F6;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.nav-icon {
    display: block;
    font-size: 20px;
}
.nav-text {
    display: block;
    font-size: 1rem;
}

.nav-button:hover {
    background-color: #ECFDF5;
    color: #059669;
    transform: translateY(-4px);
    box-shadow: 0 8px 12px -3px rgba(0, 0, 0, 0.1);
}

#nav-home {
    margin-right: auto;
}

#nav-login {
    margin-left: auto;
    border-radius: 9999px;
    padding: 0.5rem 1.5rem;
}

#nav-login:hover {
    background-color: #FFF7ED;
    color: #F97316;
}

@media (max-width: 768px) {
    .nav-text {
        display: none !important;
    }

    .nav-button {
        padding: 0.5rem 0.8rem;
    }

    #nav-login {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 412px) {
    .header {
        padding: 0 10px;
    }

    .navigation {
        gap: 5px;
        justify-content: center;
    }

    #nav-home { margin-right: 0; }
    #nav-login { margin-left: 0; }

    .nav-icon {
        display: block !important;
        font-size: 24px !important;
        margin: 0;
    }

    .nav-button {
        width: 45px;
        height: 45px;
        padding: 0 !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}