#dashboard-dieta {
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  overflow: hidden;
  width: 100vw;
  height: 407.15vh;
  position: absolute;
}
#dashboard-dieta .ellipse11 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 13.89vw;
  height: 27.51vh;
  top: 10.45vh;
  left: 5.20833vw;
  background-color: #d9d9d9;
  border-radius: 100%;
}
#dashboard-dieta .text1 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 96px;
  top: 15.27vh;
  left: 24.16665vw;
}
#dashboard-dieta .ellipse12 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 6.25vw;
  height: 12.38vh;
  background-color: #d9d9d9;
  border-radius: 100%;
  top: 2.89vh;
  left: 90.06939vw;
}

#dashboard-dieta .ellipse15 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 6.25vw;
  height: 12.38vh;
  background-color: #d9d9d9;
  border-radius: 100%;
  top: 0.69vh;
  left: 0.34722vw;
}

#dashboard-dieta .ellipse4 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 6.25vw;
  height: 12.38vh;
  background-color: #d9d9d9;
  border-radius: 100%;
  top: 42.92vh;
  left: 43.40275vw;
}
#dashboard-dieta .rectangle79 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 13.89vw;
  height: 13.76vh;
  background-color: #f0f0f0;
  border-radius: 70px;
  left: 43.05553vw;
  top: 42.23vh;
}
#dashboard-dieta .rectangle83 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 89.92vw;
  height: 106.05vh;
  top: 59.28vh;
  left: 5.20833vw;
  background-color: #f2f2f2;
}
#dashboard-dieta .ellipse13 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 34.72vw;
  height: 68.78vh;
  top: 2.75vh;
  left: 27.56943vw;
  background-color: #d9d9d9;
  border-radius: 100%;
}
#dashboard-dieta .ellipse14 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 31.25vw;
  height: 61.90vh;
  top: 3.44vh;
  left: 1.73611vw;
  background-color: #ffffff;
  border-radius: 100%;
}

#dashboard-dieta .rectangle80 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  left: 5.55555vw;
  top: 89.13vh;
  width: 18.33vw;
  height: 2.75vh;
  border-radius: 90px;
  background-color: #d9d9d9;
}
#dashboard-dieta .rectangle81 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  left: 35.62497vw;
  top: 89.13vh;
  width: 18.33vw;
  height: 2.75vh;
  border-radius: 90px;
  background-color: #d9d9d9;
}
#dashboard-dieta .rectangle82 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  left: 66.87495vw;
  top: 89.13vh;
  width: 18.33vw;
  height: 2.75vh;
  border-radius: 90px;
  background-color: #d9d9d9;
}
#dashboard-dieta .ellipse16 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 10.4166vw;
  height: 20.62vh;
  background-color: #d9d9d9;
  top: 187.80vh;
  left: 12.77vw;
  border-radius: 100vw;
}
#dashboard-dieta .text12 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 191.88vh;
  left: 30.20833vw;
}
#dashboard-dieta .text13 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 201.23vh;
  left: 33.611vw;
}
#dashboard-dieta .rectangle86 {
  margin: 0 0 0 0;
  position: absolute;
  width: 1.875vw;
  height: 12.23vh;
  left: 81.875vw;
  top: 191.19vh;
  background-color: #d9d9d9;
  border-radius: 6.2496vw;
}
#dashboard-dieta .rectangle87 {
  margin: 0 0 0 0;
  position: absolute;
  width: 6.18033vw;
  height: 3.71vh;
  left: 79.722vw;
  top: 195.60vh;
  background-color: #d9d9d9;
  border-radius: 6.2496vw;
}
#dashboard-dieta .ellipse17 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 10.4166vw;
  height: 20.62vh;
  background-color: #d9d9d9;
  top: 236.94vh;
  left: 12.77vw;
  border-radius: 100vw;
}
#dashboard-dieta .text14 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 240.98vh;
  left: 30.20833vw;
}
#dashboard-dieta .text15 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 248.97vh;
  left: 33.611vw;
}
#dashboard-dieta .rectangle88 {
  margin: 0 0 0 0;
  position: absolute;
  width: 1.875vw;
  height: 12.23vh;
  left: 81.875vw;
  top: 240.57vh;
  background-color: #d9d9d9;
  border-radius: 6.2496vw;
}
#dashboard-dieta .rectangle89 {
  margin: 0 0 0 0;
  position: absolute;
  width: 6.18033vw;
  height: 3.71vh;
  left: 79.722vw;
  top: 244.97vh;
  background-color: #d9d9d9;
  border-radius: 6.2496vw;
}
#dashboard-dieta .ellipse18 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 10.4166vw;
  height: 20.632vh;
  background-color: #d9d9d9;
  top: 286.10514vh;
  left: 12.77vw;
  border-radius: 100vw;
}
#dashboard-dieta .text16 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 290.0941098vh;
  left: 30.20833vw;
}
#dashboard-dieta .text17 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 298.0720417vh;
  left: 33.611vw;
}
#dashboard-dieta .rectangle90 {
  margin: 0 0 0 0;
  position: absolute;
  width: 1.875vw;
  height: 12.23vh;
  left: 81.875vw;
  top: 291.88vh;
  background-color: #d9d9d9;
  border-radius: 6.2496vw;
}
#dashboard-dieta .rectangle91 {
  margin: 0 0 0 0;
  position: absolute;
  width: 6.18033vw;
  height: 3.71vh;
  left: 79.722vw;
  top: 296.29vh;
  background-color: #d9d9d9;
  border-radius: 6.2496vw;
}
#dashboard-dieta .text2{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 48px;
  left: 7.5vw;
  top:18.15667259vh;
}
#dashboard-dieta .text3{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 128px;
  left: 10vw;
  top:26.13460449vh;
}
#dashboard-dieta .text4{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 9svw;
  top:30.12357043vh;
}
#dashboard-dieta .text5{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 70.13888vw;
  top:30.12357043vh;
}
#dashboard-dieta .text6{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 7.91666vw;
  top:81.15482446vh;
}
#dashboard-dieta .text7{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 10.208333vw;
  top:94.7723289vh;
}
#dashboard-dieta .text8{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 39.20834vw;
  top:81.15482446vh;
}
#dashboard-dieta .text9{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 41.70832vw;
  top:94.7723289vh;
}
#dashboard-dieta .text10{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 70.44445vw;
  top:81.15482446vh;
}
#dashboard-dieta .text11{
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  left: 72.81943vw;
  top:94.7723289vh;
}