#dashboard-dieta {
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2960px;
  position: absolute;
}
#dashboard-dieta .ellipse11 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 76px;
  left: 75px;
  background-color: #d9d9d9;
  border-radius: 100%;
}
#dashboard-dieta .text1 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 96px;
  top: 111px;
  left: 348px;
}
#dashboard-dieta .ellipse12 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #d9d9d9;
  border-radius: 100%;
  top: 21px;
  left: 1297px;
}

#dashboard-dieta .ellipse15 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #d9d9d9;
  border-radius: 100%;
  top: 5px;
  left: 5px;
}

#dashboard-dieta .ellipse4 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #d9d9d9;
  border-radius: 100%;
  top: 312px;
  left: 625px;
}
#dashboard-dieta .rectangle79 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 70px;
  left: 620px;
  top: 307px;
}
#dashboard-dieta .rectangle83 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 1295px;
  height: 771px;
  top: 431px;
  left: 75px;
  background-color: #f2f2f2;
}
#dashboard-dieta .ellipse13 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 20px;
  left: 397px;
  background-color: #d9d9d9;
  border-radius: 100%;
}
#dashboard-dieta .ellipse14 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 450px;
  height: 450px;
  top: 25px;
  left: 25px;
  background-color: #ffffff;
  border-radius: 100%;
}
#dashboard-dieta .text2 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 48px;
  top: 132px;
  left: 72px;
}
#dashboard-dieta .text3 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 128px;
  top: 190px;
  left: 108px;
}
#dashboard-dieta .rectangle80 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  left: 80px;
  top: 648px;
  width: 264px;
  height: 20px;
  border-radius: 90px;
  background-color: #d9d9d9;
}
#dashboard-dieta .rectangle81 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  left: 513px;
  top: 648px;
  width: 264px;
  height: 20px;
  border-radius: 90px;
  background-color: #d9d9d9;
}
#dashboard-dieta .rectangle82 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  left: 963px;
  top: 648px;
  width: 264px;
  height: 20px;
  border-radius: 90px;
  background-color: #d9d9d9;
}
#dashboard-dieta .text4 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 219px;
  left: 80px;
}
#dashboard-dieta .text5 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 219px;
  left: 1010px;
}
#dashboard-dieta .text6 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 590px;
  left: 108px;
}
#dashboard-dieta .text7 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 689px;
  left: 142px;
}
#dashboard-dieta .text8 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 590px;
  left: 541px;
}
#dashboard-dieta .text9 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 689px;
  left: 575px;}
#dashboard-dieta .text10 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 590px;
  left: 991px;
}
#dashboard-dieta .text11 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 689px;
  left: 1025px;}

#dashboard-dieta .ellipse16 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  top: 1366px;
  left: 184px;
  border-radius: 50%;
}
#dashboard-dieta .text12 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 1395px;
  left: 435px;
}
#dashboard-dieta .text13 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 1453px;
  left: 484px;
}
#dashboard-dieta .rectangle86 {
  margin: 0 0 0 0;
  position: absolute;
  width: 27px;
  height: 89px;
  top: 1395px;
  left: 1179px;
  background-color: #d9d9d9;
  border-radius: 90px;
}
#dashboard-dieta .rectangle87 {
  margin: 0 0 0 0;
  position: absolute;
  width: 89px;
  height: 27px;
  top: 1427px;
  left: 1148px;
  background-color: #d9d9d9;
  border-radius: 90px;}
#dashboard-dieta .ellipse17 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  top: 1723px;
  left: 184px;
  border-radius: 50%;
}
#dashboard-dieta .text14 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 1752px;
  left: 435px;
}
#dashboard-dieta .text15 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 1810px;
  left: 484px;
}
#dashboard-dieta .rectangle88 {
  margin: 0 0 0 0;
  position: absolute;
  width: 27px;
  height: 89px;
  top: 1749px;
  left: 1179px;
  background-color: #d9d9d9;
  border-radius: 90px;
}
#dashboard-dieta .rectangle89 {
  margin: 0 0 0 0;
  position: absolute;
  width: 89px;
  height: 27px;
  top: 1781px;
  left: 1148px;
  background-color: #d9d9d9;
  border-radius: 90px;}
#dashboard-dieta .ellipse18 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  top: 2061px;
  left: 184px;
  border-radius: 50%;
}
#dashboard-dieta .text16 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 2019px;
  left: 435px;
}
#dashboard-dieta .text17 {
  margin: 0 0 0 0;
  position: absolute;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  top: 2167px;
  left: 484px;
}
#dashboard-dieta .rectangle90 {
  margin: 0 0 0 0;
  position: absolute;
  width: 27px;
  height: 89px;
  top: 2122px;
  left: 1179px;
  background-color: #d9d9d9;
  border-radius: 90px;
}
#dashboard-dieta .rectangle91 {
  margin: 0 0 0 0;
  position: absolute;
  width: 89px;
  height: 27px;
  top: 2154px;
  left: 1148px;
  background-color: #d9d9d9;
  border-radius: 90px;}
