body {
    margin: 0px;
    background-color: #ffffff;
}
#dashboard-deporte {
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;

    width: 100%;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#dashboard-deporte #name {
    position: absolute;
    top: 216px;
    left: 226px;
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: bold;
}
#dashboard-deporte #profile_picture {
    position: absolute;
    top: 204px;
    left: 92px;
    height: 100px;
    width: 100px;
}
#dashboard-deporte #bars-container