body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.box {
    background-color: #e5e5e5;
    width: 75vh;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    row-gap: 2vh;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
}

.form {
    flex: auto;
    height: 35px;
    width: 35vh;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: block;
}

.selector {
    flex: 1;
    width: 35vh;
    background-color: #ffffff;
    border-radius: 8px;
    display: block;
    text-decoration: none;
}

.button {
    flex: 1;
    height: 5vh;
    width: 10vh;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: block;
    text-decoration: none;
}

.small{
    font-size: smaller;
}

.smaller{
    font-size: smaller;
}

.large{
    font-size: large;
}

.larger{
    font-size: xx-large;
}
